@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin:0;
    box-sizing: border-box;
}
.SignIn{
    padding-left: 400px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0,2rem;
    /* background-color: #c7c2b5; */
}



.SignIn_Box{
    display: flex;
    align-items: center;
}


.SignIn_Box input{
    width: 120%;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    /* border-color: #cf2f13; */
}

.SignIn_Box input[type="submit"]{
    width: 60%;
    padding: 10px;
    margin-left: 100px;
    border-radius: 15px;
    color: white;
    background-color: black;
    /* border-color: #470d69; */
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
}
.SignIn_Box input[type="submit"]:hover{
    cursor: pointer;
}

.SignIn_Box .title_SU{
    margin-left: 140px;
    color: White;
}

.SignIn_Box .bottomLinkWrapper{
    margin-left: 130px;
}

.SignIn_Box a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.SignIn_Box a:hover{
    text-decoration: underline;
}