*{
    margin:0;
    box-sizing: border-box;
}
.SignUp{
    padding-left: 400px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0,2rem;
    /* background-color: #c7c2b5; */
}



.SignUp_Box{
    display: flex;
    align-items: center;
}


.SignUp_Box input{
    width: 120%;
    margin: 18px;
    padding: 15px;
    border-radius: 15px;
    /* border-color: #cf2f13; */
}

.SignUp_Box input[type="submit"]{
    width: 60%;
    padding: 10px;
    margin-left: 120px;
    border-radius: 15px;
    color: white;
    background-color: black;
    /* border-color: #470d69; */
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
}
.SignUp_Box input[type="submit"]:hover{
    cursor: pointer;
}

.SignUp_Box .title_SU{
    margin-left: 140px;
    color: White;
}

.SignUp_Box .bottomLinkWrapper{
    margin-left: 155px;
}

.SignUp_Box a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.SignUp_Box a:hover{
    text-decoration: underline;
}